@import "var";

@mixin w100($vector:0px) {
  width: calc(100% + #{$vector});
}

@mixin w100_padding($padding-h:10px) {
  @include w100;
  padding-left: $padding-h;
  padding-right: $padding-h;
}

@mixin w100_margin($margin-h:10px) {
  width: calc(100% - #{$margin-h} * 2);
  margin-left: $margin-h;
  margin-right: $margin-h;
}

@mixin h100_padding($padding-h:10px) {
  @include h100;
  padding-left: $padding-h;
  padding-right: $padding-h;
}

@mixin h100_margin($margin-h:10px) {
  height: calc(100% - #{$margin-h} * 2);
  margin-top: $margin-h;
  margin-bottom: $margin-h;
}

@mixin h100($vector:0px) {
  height: calc(100% + #{$vector});
}

@mixin wh100($vector_w:0px,$vector_h:0px) {
  @include w100($vector_w);
  @include h100($vector_h);
}

@mixin wh100_margin($margin:10px) {
  width: calc(100% - #{$margin} * 2);
  margin: $margin;
  height: calc(100% - #{$margin} * 2);
}

@mixin wh100_padding($padding:10px) {
  padding: $padding;
  @include wh100;
}

@mixin margin_h($value) {
  margin-left: $value;
  margin-right: $value;
}

@mixin margin_v($value) {
  margin-top: $value;
  margin-bottom: $value;
}

@mixin padding_h($value) {
  padding-left: $value;
  padding-right: $value;
}

@mixin padding_v($value) {
  padding-top: $value;
  padding-bottom: $value;
}

@mixin flex_h {
  display: flex;
  flex-direction: row;
}

@mixin flex_v {
  display: flex;
  flex-direction: column;
}

@mixin flex_center {
  @include flex_h;
  align-items: center;
  justify-content: center;
}

//横向垂直水平居中
@mixin flex_h_center {
  @include flex_center;
  @include flex_h;
}

//横向居右
@mixin flex_h_left {
  @include flex_h;
  justify-content: flex-start;
}

//横向居右
@mixin flex_h_right {
  @include flex_h;
  justify-content: flex-end;
}

//横向居上
@mixin flex_h_top {
  @include flex_h;
  align-items: flex-start;
}

//横向居下
@mixin flex_h_bottom {
  @include flex_h;
  align-items: flex-end;
}

@mixin flex_v_center {
  @include flex_center;
  @include flex_v;
}

//纵向居右
@mixin flex_v_left {
  @include flex_v;
  align-items: flex-start;
}

//纵向居右
@mixin flex_v_right {
  @include flex_v;
  align-items: flex-end;
}

//纵向居上
@mixin flex_v_top {
  @include flex_v;
  justify-content: flex-start;
}

//纵向居下
@mixin flex_v_bottom {
  @include flex_v;
  justify-content: flex-end;
}

@mixin border($border-color:$ljs-sass-border-color) {
  border: 1px $border-color solid;
  box-sizing: border-box;
}

@mixin box-shadow($border-color:$ljs-sass-border-color) {
  box-shadow: 0 1px 1px 0 $border-color;
}

@mixin top-border($border-color:$ljs-sass-border-color) {
  border-top: 1px $border-color solid;
  box-sizing: border-box;
}

@mixin bottom-border($border-color:$ljs-sass-border-color) {
  border-bottom: 1px $border-color solid;
  box-sizing: border-box;
}

@mixin left-border($border-color:$ljs-sass-border-color) {
  border-left: 1px $border-color solid;
  box-sizing: border-box;
}

@mixin right-border($border-color:$ljs-sass-border-color) {
  border-right: 1px $border-color solid;
  box-sizing: border-box;
}

/**正方形*/
@mixin square($size:25px) {
  width: $size;
  height: $size;
}

/**圆形*/
@mixin circle($size:25px) {
  border-radius: 50%;
  @include square($size)
}

/**调试边框*/
@mixin debug($border-color:#f3051d) {
  box-sizing: border-box;
  border: 2px $border-color solid;
}
